
img{
  border-radius: 15px;

}



.aCrear{
  font-size: 2rem;
  border: 2px solid grey;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  margin-left: 580px;
  margin-right: 580px;
  border-radius: 12px;
  color: white;
  margin-top: 15px;
  background-color: #aa78a2;
}

.aCrear:hover{
  background-color: #000000;
  color:#fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.aCrear:active{
   background-color: #aa78a2;
   color: white ;
   transform: translateY(3px);
   box-shadow: #999 2px;

}

h1{
    font-family: Arial, Helvetica, sans-serif  ;
    align-self: center;
    font-size: 55px;
    text-decoration: underline gray 2px;
  }

nav{
  display: flex;
  align-items: flex-start;


}

div{
  display: flex;
  flex-direction: column;
}

.buttonHeader{
  align-self: center;
  margin: 15px;
  border-radius: 12px;
  border: 1px solid grey ;
  background-color: #aa78a2;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;  
}

.buttonHeader:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: black;
  
}

.buttonHeader:active{
  background-color: #aa78a2;
  transform: translateY(5px);
}


.ListaClientes{
  border-color: black 1px;
  margin-left: 15px; 
}
 
header nav {
  align-self: initial;
}


form input, form textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none; 
}


.crearForm{
  padding: 60px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

.buttonForm{
  
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #aa78a2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 78%;
}
.buttonForm:hover {
  background-color: #000000
}
.buttonForm:active{
  background-color: #aa78a2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


table, tr ,td{
  border: 1px solid grey;
  border-radius: 3px;  
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
}

.citas{
  text-decoration: none;
}


.añadirButton{
  padding: 5px 10px;
  font-size: 15px;
  outline: none;
  color: #fff;
  background-color: #aa78a2;
  border: solid 1px grey;
  border-radius: 5px;  
}
.añadirButton:hover{
  background-color: #000000
}
.añadirButton:active{
  background-color: #aa78a2;
  
  transform: translateY(1px);
}

.selectForm{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: none; 
}
